.calculator,
.calculator *,
.calculator *::before,
.calculator *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  background-color: rgba(53, 44, 43, 1);
  padding: 0px 20px;
  /* margin-top: 102px; */
}

.price_calculator {
  width: 100%;
  aspect-ratio: 1986 / 1092; /* исходное соотношение сторон */
  display: flex;
  gap: 20px;
}

.values_slider_arrow {
  cursor: pointer;
  user-select: none; /* запрет выделять как текст */
  -webkit-user-drag: none; /* запрет перетаскивания в Chrome/Safari */
}

.price_calculator_container {
  width: 50%;
  height: 100%;
}

.price_calculator-design {
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.price_calculator-design_title {
  /* font-size: 72px; */
  font-size: clamp(24px, 4vw, 72px);
  font-weight: 800;
  font-family: "Open Sans Condensed ExtraBold", sans-serif;
  letter-spacing: -1px;
  line-height: 120%;
}

.price_calculator-design_example {
  width: 100%;
  position: relative;
  padding-top: calc(782 / 890 * 100%); /* соотношение сторон */
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.price_calculator-design_example-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price_calculator-parameters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_calculator-parameters_values {
  width: 100%;
  /* height: 762px; */
  height: 72.8%;
  padding: 30px 20px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  /* gap: 46px; */
  /* gap: clamp(12px, 2.4vw, 46px); */
  gap: clamp(12px, calc(0.5 * 5.5vw), 46px);
}

.values_boxInput {
  display: flex;
  gap: 10px;
}

.values_inputBox {
  height: 60px;
  border: 4px solid #e7392f;
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  padding: 0 10px 0 5px;
  width: 50%;
  display: flex;
  align-items: center;
}

.values_input {
  height: 100%;
  /* border: 4px solid #e7392f; */
  color: #e7392f;
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  padding: 0px 10px;
  border: none;
  width: 100%;
  letter-spacing: 0.6px;
  font-family: "OpenSansBold", sans-serif;
  outline: none;
}

.values_input::placeholder {
  color: #e7392f;
}
.values_input::-webkit-input-placeholder {
  color: #e7392f;
}
.values_input::-moz-placeholder {
  color: #e7392f;
}
.values_input::-moz-placeholder {
  color: #e7392f;
}
.values_input::-ms-input-placeholder {
  color: #e7392f;
}

.values_h3 {
  /* font-size: 36px; */
  font-size: clamp(22px, 2vw, 36px);
  font-weight: 800;
  font-family: "Open Sans Condensed ExtraBold", sans-serif;
  letter-spacing: -0.4px;
}

.values_slider {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* gap: clamp(4px, 0.5vw, 23px); */
}

.valuse_colors {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.valuse_colors_item {
  width: clamp(44px, 3.2vw, 60px);
  height: clamp(44px, 3.2vw, 60px);
  /* width: 60px;
  height: 60px; */
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #e7392f;
  cursor: pointer;
}

.valuse_colors_item:hover {
  transform: scale(1.1);
  border: 4px solid #352c2b;
}

.valuse_colors_item_ActiveColor {
  transform: scale(1.1);
  border: 4px solid #352c2b;
  z-index: 2;
}

.values_text {
  /* font-size: 20px; */
  font-size: clamp(14px, 1.1vw, 20px);
  font-family: "MontserratMedium";
  letter-spacing: -0.3px;
  margin-bottom: 18px;
}

.price_calculator-parameters_price {
  flex: 1;
  /* height: 24.2%; */
  width: 100%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
}

.price_calculator-parameters_price {
  padding: 0 20px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.price_title {
  /* font-size: 36px; */
  font-size: clamp(16px, 2vw, 36px);
  font-weight: 800;
  font-family: "Open Sans Condensed ExtraBold", sans-serif;
  letter-spacing: -0.3px;
}

.price_text {
  /* font-size: 20px; */
  font-size: clamp(10px, 1.4vw, 20px);
  font-weight: 500;
  font-family: "MontserratMedium";
  line-height: 152%;
  line-height: clamp(100%, 1.4vw, 152%);
}

.price_container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 2.1%;
}

.price_sum {
  /* font-size: 84px; */
  font-size: clamp(42px, 4.1vw, 84px);
  font-weight: 700;
  font-family: "OpenSansBold", sans-serif;
  margin-left: auto;
  line-height: 1;
}

.price_buttonBasket {
  flex: 1;
  height: 60px;
  background: rgba(231, 57, 47, 1);
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.3px;
  font-family: "OpenSansBold";
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 590px;
  cursor: pointer;
}

.price_buttonBasket:hover {
  filter: brightness(85%);
}

@media (max-width: 1900px) {
  .price_calculator-parameters_values {
    gap: 4%;
  }

  .values_text {
    margin-bottom: 10px;
  }
}

@media (max-width: 1600px) {
  .price_calculator-parameters_values {
    gap: 3%;
    padding: 10px 20px;
  }
  .values_input {
    height: 50px;
  }
  .price_buttonBasket {
    height: 50px;
  }
  .price_calculator-parameters_price {
    padding-top: 2%;
  }
}

@media (max-width: 1400px) {
  .price_calculator-parameters_values {
    gap: 2%;
  }
  .price_container {
    margin-top: 1%;
  }
}

@media (max-width: 1330px) {
  .price_calculator-parameters_values {
    gap: 1%;
  }
}

@media (max-width: 1270px) {
  .price_calculator-parameters_values {
    gap: 0;
  }
}

@media (max-width: 1220px) {
  .price_calculator {
    flex-direction: column;
  }

  .price_calculator-parameters_values {
    height: 100%;
    padding: 30px 20px;
    gap: clamp(22px, 3vw, 36px);
  }

  .price_calculator_container {
    width: auto;
    height: auto;
  }

  .price_calculator-parameters_price {
    height: 100%;
    padding: 20px 20px;
  }

  .values_h3 {
    font-size: clamp(22px, 3vw, 36px);
  }

  /* .values_text {
    font-size: clamp(18px, 1.4vw, 20px);
  } */

  .valuse_colors_item {
    width: clamp(24px, 6vw, 72px);
    height: clamp(24px, 6vw, 72px);
  }
  .values_slider {
    /* gap: clamp(4px, 1.5vw, 23px); */
    margin-top: 10px;
  }
  .values_slider_arrow {
    width: clamp(24px, 6vw, 72px);
    height: clamp(24px, 6vw, 72px);
  }

  .price_text {
    font-size: clamp(18px, 1.4vw, 20px);
  }

  .price_sum {
    font-size: 74px;
  }
  .price_container {
    gap: 10px;
    margin-top: 10px;
  }
  .price_title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .values_boxInput {
    flex-direction: column;
  }

  .values_input {
    width: 100%;
  }

  .price_buttonBasket {
    min-height: 60px;
    padding: 0 5px;
  }

  .values_inputBox {
    width: 100%;
  }

  .price_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .price_sum {
    margin: 0;
  }

  .price_title {
    font-size: 26px;
  }
  .price_sum {
    font-size: 64px;
  }
}

@media (max-width: 425px) {
  .price_calculator-design {
    padding: 20px 10px;
  }
  .price_calculator-parameters_values {
    padding: 20px 10px;
  }
  .values_text {
    margin-bottom: 15px;
  }
  .price_calculator-parameters_price {
    padding: 20px 10px;
  }
}

@media (max-width: 375px) {
  .price_calculator-design {
    padding: 20px 5px;
  }
  .price_calculator-parameters_values {
    padding: 30px 5px;
  }
}

.wwwww {
  position: absolute;
  top: 39px;
  left: 48px;
  top: 4.9%;
  left: 5.5%;
  z-index: 12;
  width: 703px;
  height: 412px;
  width: 79%;
  height: 52.8%;
}
