.news-item {
  background-color: #3e3736;
  border-radius: 25px;
  overflow: hidden;
  /* flex: 0 0 370px; Фиксированная ширина, не растягивается */
  display: flex;
  min-height: 150px; /* Минимальная высота */
  transition: transform 0.3s ease;
  position: relative;
  padding-right: 60px;

  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(0) scale(1);
  border: 3px solid transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: calc(25% - 25px);
  box-sizing: border-box;
}

.news-item:hover {
  border: 3px solid white;
  box-shadow: 0 6px 20px rgba(87, 87, 87, 0.45);

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 25px;
    z-index: 1;
  }
}

.news-item__left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.news-item__image {
  width: 100%;
  max-width: 290px;
  height: auto;
  aspect-ratio: 290/150; /* Сохраняем пропорции 290x150 */
  object-fit: cover;
  border-radius: 15px;
  flex-shrink: 0;
}
.news-item__title {
  font-family: "OpenSansBold", sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  margin: 0;
  /* font-size: 16px; */
  font-size: clamp(14px, 0.9vw, 22px);
  line-height: 1.3;
}

.news-item__description {
  font-family: "OpenSansBold", sans-serif;
  font-weight: 100;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  margin: 0;
  /* font-size: 16px; */
  font-size: clamp(10px, 0.7vw, 16px);
  line-height: 1.3;
}

.news-item__right {
  position: absolute;
  right: 20px;
  top: 20px;
  /* transform: translateY(-50%); */
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-item__arrow {
  width: 30px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

@media (max-width: 1440px) {
  .news-item {
    max-width: calc(50% - 12.5px);
  }
}

@media (max-width: 1200px) {
  .news-item__image {
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .news-item__image {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .news-item__left {
    padding: 10px;
  }
  .news-item {
    max-width: 100%;
  }

  .news-item__left {
    padding: 10px;
  }

  .news-item__image {
    max-width: 100%;
    width: 100%;
  }

  .news-item__right {
    right: 10px;
    top: 10px;
  }
}
