.benefit-card {
    background-color: #3E3736;
    border-radius: 26px;
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.benefit-card__image {
    position: absolute;
    top: -15px;
    left: -10px;
    width: 180px; /* Фиксированный размер иконки */
    height: 180px;
    object-fit: contain;
    border-radius: 0 0 12px 0; /* Закругление только правого нижнего угла */
}

.benefit-card__content {
    margin-top: 40px; /* Отступ для иконки */
    padding: 0 10px;
}

.benefit-card__title {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

.benefit-card__description {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .benefit-card {
        padding: 25px 15px;
    }

    .benefit-card__image {
        width: 60px;
        height: 60px;
    }

    .benefit-card__content {
        margin-top: 30px;
    }

    .benefit-card__title {
        font-size: 18px;
    }

    .benefit-card__description {
        font-size: 14px;
    }
}