.news-big-card {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-big-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.news-big-card__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-big-card__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.news-big-card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.news-big-card__title {
    color: #352C2B;
    font-family: "Open Sans Condensed ExtraBold";
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 2.475rem */
    letter-spacing: -0.02475rem;
    text-transform: uppercase;
}

.news-big-card__text {
    color: #1E1E1E;
    font-family: "OpenSansBold", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
    letter-spacing: -0.01375rem;
}

/* Адаптивность */
@media (max-width: 992px) {
    .news-big-card__image {
        height: 200px;
    }
    
    .news-big-card__title {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .news-big-card__image {
        height: 180px;
    }
    
    .news-big-card__title {
        font-size: 1.2rem;
    }
    
    .news-big-card__content {
        padding: 16px;
    }
}

@media (max-width: 576px) {
    .news-big-card__image {
        height: 160px;
    }
    
    .news-big-card__title {
        font-size: 1.1rem;
    }
    
    .news-big-card__text {
        font-size: 0.9rem;
    }
}