.footer {
    display: flex;
    background-color: #FFFBF4;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    /* margin: 0 20px; */
}

.footer__container {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin: 0 20px;
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 200px;
}

.footer__col--main {
    flex: 2;
}

.footer-four-col {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__logo {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}

.footer__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    color: #352C2B;
    margin-bottom: 20px;
    font-family: "Open Sans Condensed ExtraBold", sans-serif;
}

.footer__subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #352C2B;
    margin-bottom: 15px;
    
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: #5A5352;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__list-item {
    margin: 0;
}

.footer__link {
    font-size: 14px;
    color: #5A5352;
    text-decoration: none;
    transition: color 0.2s;
}

.footer__link:hover {
    color: #E7392F;
}

.footer__button {
    margin-top: 20px;
    max-width: 300px;
}

/* Стили для кнопки "Наверх" */
.footer__scroll-top {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto; /* Перемещает кнопку вправо */
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.footer__scroll-top img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.footer__scroll-top:hover img {
    transform: translateY(-5px);
}

.footer__copyright {
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid rgba(58, 45, 43, 0.1);
    color: #5A5352;
    font-size: 14px;
    width: 100%;
}

.footer__col--nav{
    flex-direction: row;
}

/* Адаптивность */

@media (max-width: 1400px) {
    .footer__col--nav {
        flex-direction: column;
    }
}
@media (max-width: 1024px) {
    .footer__col--main {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 30px 20px;
        border-radius: 30px;
    }

    .footer__container {
        gap: 30px;
    }

    .footer-four-col {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .footer__title {
        font-size: 20px;
    }

    .footer__subtitle {
        font-size: 16px;
    }

    .footer__text, .footer__link {
        font-size: 14px;
    }

    .footer__button {
        max-width: 100%;
    }
}