.selectComponent {
  position: relative;
}

.selectComponent_value {
  width: 100%;
  /* height: 60px; */
  /* height: clamp(60px, 3.16vw, 3.16vw); */
  /* height: clamp(40px, 3.16vw, 3.16vw); */
  height: clamp(40px, 3.16vw, 81px);
  border: 4px solid #e7392f;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e7392f;
  /* font-size: 20px; */
  /* font-size: clamp(20px, 0.9vw, 0.9vw); */
  font-size: clamp(15px, 1.05vw, 26px);
      padding: 0px 5px 0px 20px;
  font-family: "OpenSansBold", sans-serif;
  letter-spacing: 0.6px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.selectComponent_options {
  position: absolute;
  /* top: 65px; */
  top: clamp(65px, 3.2vw, 3.2vw);
  left: 0;
  width: 100%;
  border: 4px solid #e7392f;
  border-radius: 40px;
  padding: 0px 0px;
  background: #ffffff;
  overflow: hidden;
  z-index: 3;
}

.selectComponent_option {
  color: #e7392f;
  /* border-radius: 30px; */
  /* font-size: 20px; */
  /* font-size: clamp(20px, 0.9vw, 0.9vw); */
  /* font-size: clamp(16px, 1.1vw, 1.8vw); */
  font-size: clamp(15px, 1.05vw, 26px);
  font-family: "OpenSansBold", sans-serif;
  letter-spacing: 0.6px;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
  /* background: #816b6b; */
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.selectComponent_option:hover {
  color: #ffffff;
  background: #e7392f;
}

.selectComponent_arrow {
  transition: transform 0.3s ease; /* плавная анимация */
}

.selectComponent_arrow.open {
  transform: rotate(180deg); /* поворот вниз/вверх */
}

@media (max-width: 1600px) {
  /* .selectComponent_value {
    height: 50px;
  } */
  .selectComponent_options {
    top: 55px;
  }
}

@media (max-width: 1220px) {
  .selectComponent_value {
    height: clamp(40px, 6vw, 55px);
  }
}
