.red-button {
    background-color: #E7392F;
    color: white;
    font-family: "OpenSansBold", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 110px;
    padding: 15px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.red-button:hover {
    background-color: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(29px);
    -webkit-backdrop-filter: blur(29px);
}

.red-button:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #E7392F;
    border-radius: 110px;
    pointer-events: none;
}

.red-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.red-button__text {
    white-space: nowrap;
    position: relative;
    z-index: 1;
}