.business {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding-top: 8rem;
}


@media (max-width: 768px) {
    .business{
        padding-top: 5rem;
    }
}
